/*
 *------------------------------------------------------------------------------
 * Views Styles
 *------------------------------------------------------------------------------
 */

.views-row
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

.pane-views-panes-stacked .views-row
  margin-bottom: 0.5em
