/*
 *------------------------------------------------------------------------------
 * Views Pagination
 *------------------------------------------------------------------------------
 */
  
.item-list .pagination
  &.pager
    display: block
    font-size: 0
    text-align: center

    .ajax-progress-throbber
      display: none

    li
      padding: 0
      display: inline-block
      font-size: initial
      vertical-align: top
      
      a, span
        position: relative
        display: inline-block
        padding: 0
        margin: 0 5px
        min-width: 50px
        height: 50px
        border: none
        border-radius: 0
        line-height: 51px
        font-family: $headings-font-family
        font-weight: bold
        color: $gray-darkish
        background-color: $gray-lighter

        &:hover, &:focus
          color: $brand-primary

        &.progress-disabled:not(.glyphicon)
          +transition(all 2s)
          &, &:hover, &:focus
            color: white
            background-color: $brand-primary

      &.active
        a, span
          &, &:hover, &:focus
            color: white
            background-color: $brand-primary

      &.disabled
        a, span
          &, &:hover, &:focus
            color: $gray-darkish
            cursor: default
            opacity: 0.3

      &.pager-previous,
      &.pager-next
        a, span
          min-width: 0
          margin: 0 10px
          font-family: "Glyphicons Halflings"
          background-color: transparent
          font-weight: normal

      &.pager-first,
      &.pager-last
        @extend %screen-reader-only

  &.pager-load-more li
    &.pager-next.first.last
      color: white
      font-weight: bold
      height: 50px
      overflow: hidden

      a
        @extend %more-button
        margin-top: -50px

        &:after
          height: 50px
          margin-top: -1px
          line-height: 54px

        &.progress-disabled
          +transition(none)
          opacity: 0.5
