/*
 *------------------------------------------------------------------------------
 * Download Icon formatter
 *------------------------------------------------------------------------------
 */

.formatter-download-icon
  display: inline-block
  font-size: 3em
  line-height: 1em
