/*
 *------------------------------------------------------------------------------
 * Field Collections
 *------------------------------------------------------------------------------
 */

.field-collection-horizontal
  .field-items
    font-size: 0
    letter-spacing: 0
    display: inline-block

  .field-item
    font-size: 1rem
    letter-spacing: initial
    display: inline-block
