/*
 *------------------------------------------------------------------------------
 * Social Links Field
 *------------------------------------------------------------------------------
 */

.field-name-field-social-links
  .field-collection-item-field-social-links
    padding: 0.3em
    border-radius: 50%
    overflow: hidden

  .social-network
    +transition(all 100ms)
    display: block
    margin: -2px
    height: 48px
    width: 48px
    max-width: none
    border-radius: 50%

  .social-network-link
    +transition(all 100ms)
    display: block
    height: 44px
    width: 44px
    margin: 2px
    border-radius: 50%
    overflow: hidden

    &:hover
      margin: 0
      height: 48px
      width: 48px

      .social-network
        margin: 0
