/*
 *------------------------------------------------------------------------------
 * Tag Field
 *------------------------------------------------------------------------------
 */

.field-name-field-tags
  font-family: Roboto
  text-transform: uppercase
  font-weight: bold
  font-size: 12px
  line-height: 1.6em

  .field-item
    display: inline
    text-align: middle

    &:after
      content: " | "
      vertical-align: top
      opacity: 0.5
      margin: 0 0.2em

    &:last-child:after
      display: none
