/*
 *------------------------------------------------------------------------------
 * Text formatted lists
 *------------------------------------------------------------------------------
 */

.formatter-textformatter-list
  line-height: 1.25em

  &, &.field-label-inline
    div, .field-items
      display: inline
      float: none
