/*
 *------------------------------------------------------------------------------
 * Text Field Style
 *------------------------------------------------------------------------------
 */

.field-type-text-with-summary,
.field-type-text-long
  font-family: $reading-font-family
  color: $gray-darkish

  p
    line-height: 1.2em

.field-type-text-with-summary.formatter-text-default
  font-size: 20px

  p
    margin-bottom: 2em
