
.variant-alert {
  transition: all 500ms;
  position: fixed;
  top: 100px;
  z-index: 600;
  right: -700px;
  visibility: hidden;
  opacity: 0;
}

.panels-ipe-editing + .variant-alert {
  right: 10px;
  visibility: visible;
  opacity: 1;
}