/*
 *------------------------------------------------------------------------------
 * Adaptative Panels Adjustments
 *------------------------------------------------------------------------------
 */

#iela-adaptative-panels-pane-settings-form
  .help-block
    font-size: 0.8em
    line-height: 1.5em

  > div
    +make-row
    > fieldset
      +make-md-column(3)
      box-shadow: none
      float: right !important

      > legend
        border: 1px solid #ddd

        i.fa
          margin-right: 0
          margin-top: 5px

      > .panel-body
        border: 1px solid #ddd
        border-top: none
        background-color: #fdfdfd

        > .help-block
          margin: -15px -15px 10px
          padding: 0.5em 15px
          border-bottom: 1px solid #DDD
          font-size: 0.7em
          font-style: italic
          background-color: white

    [type="submit"]
      clear: both
      margin: 0 15px
