/*
 *------------------------------------------------------------------------------
 * Drupal Autocomplete
 *------------------------------------------------------------------------------
 */

// @todo identify autocomplete holders.
.form-type-textfield
  position: relative

#autocomplete
  position: absolute !important
  top: 100% !important
  left: 0 !important
  width: 100% !important
  font-size: 0.8em
  line-height: 1.25em

  ul
    list-style: none
    margin: 0
    padding: 0
    background: #FFF
    border: 1px solid #DDD
    border-top: 0
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)

  li
    padding: 0.6em 0.8em
    cursor: pointer

    &:nth-child(odd)
      background-color: #f9f9f9

    &:hover, &:focus, &.selected
      background-color: #eee
