/*
 *------------------------------------------------------------------------------
 * CTools Module Adjustments
 *------------------------------------------------------------------------------
 */

#modalBackdrop
  position: fixed !important
  top: 0 !important
  left: 0 !important
  right: 0 !important
  bottom: 0 !important
  width: auto !important
  height: auto !important
  opacity: 1 !important
  background-color: rgba(0, 0, 0, 0.5) !important

#modalContent
  position: fixed !important
  top: 0 !important
  left: 0 !important
  right: 0 !important
  bottom: 0 !important
  overflow: auto !important

  #modal-content > .loading-spinner
    position: static !important
    margin: 50px 0 !important
    text-align: center !important

  > .ctools-modal-dialog
    height: auto !important
    width: auto !important
    max-width: 80%
  
  .modal-body
    height: auto !important
    width: auto !important

    .panels-add-content-modal
      position: static !important
      margin: -15px
      width: auto

      .panels-section-column-categories
        border: 1px solid #CCC
        border-left: none
        background: #fcfcfc
        margin-bottom: 20px

      .widget-preview
        overflow: hidden
        max-height: 200px

        .panel-heading
          .btn
            top: 0
            right: 0
            bottom: 0
            line-height: 2.5em

        .panel-body
          max-height: 154px
          overflow: auto
          #panel-pane-wrapper-new
            +clearfix

    .panels-choose-layout
      #panels-layout-category-Panopoly
        margin: 0

      .dependent-options
        margin: 0 -15px -15px
        padding: 15px
        border-top: 1px solid #ddd
        background-color: #F9F9F9

      .panels-layouts-category
        display: none

      .layout-link
        float: none
        width: 130px
        display: inline-block
        height: auto
        border: 1px solid transparent
        vertical-align: top
        text-align: center
        line-height: 1.3em

        &:hover, &.current-layout
          background-color: #FFF
          border: 1px solid #DDD
          border-radius: 3px

        img
          margin-bottom: 0.5em

        a
          color: inherit
          &:hover
            color: $link-color

    #panels-change-layout
      .container
        max-width: 100%

      #panels-dnd-main div.panel-region
        margin: 5px

      input[type=submit]
        margin: 5px

    #panels-edit-style-type-form
      .form-item-style > label
        display: none
