/*
 *------------------------------------------------------------------------------
 * Form Adjustments
 *------------------------------------------------------------------------------
 */

.position-field
  +clearfix

  .form-item
    float: left
    width: 26px
    margin-top: -5px
    font-size: 0

    &:nth-child(3n+1)
      clear: left
  
  label
    display: inline
    input
      cursor: pointer

.improvedselect
  .improvedselect_filter
    height: auto
    width: 100%
    margin-bottom: 0
    padding-bottom: 0
    box-shadow: none
    padding: 0 5px

  .improvedselect_sel,
  .improvedselect_all
    height: 200px !important

  ul
    li
      +clearfix
      padding: 5px
      line-height: 1.2em
      font-size: 13px

      img
        height: 1.8em
        margin-left: 5px
        float: right
        border-radius: 50%
        margin-bottom: 5px

.inline-form-item
  display: table
  width: 100%
  > label
    display: table-cell
    padding-right: 15px
  > .form-control
    display: table-cell

fieldset.collapsible
  > .panel-body.fieldset-wrapper
    display: block
    overflow: hidden

  &.collapsed
    > .panel-body.fieldset-wrapper
      display: none

.field-name-field-medias
  .form-type-link-field
    > label
      display: none
    .link-field-title
      .help-block
        display: none
    .link-field-column
      float: none
      width: auto
