/*
 *------------------------------------------------------------------------------
 * Media Module Adjustments
 *------------------------------------------------------------------------------
 */

.ui-widget-overlay
  position: fixed
  z-index: 1200
  background: rgba(0, 0, 0, 0.2)

.media-wrapper
  z-index: 1201

.media-modal-frame
  + .ui-dialog-buttonpane
    display: none
