/*
 *------------------------------------------------------------------------------
 * Admin Miscelaneous
 *------------------------------------------------------------------------------
 */

.admin-placeholder
  background-color: rgba(0, 0, 0, 0.1)
  padding: 1.5em
  font-style: italic
  text-align: center
  border: 3px dashed #FFF
