/*
 *------------------------------------------------------------------------------
 * Navbar Adjustments
 *------------------------------------------------------------------------------
 */

#navbar-administration
  z-index: 1000

.panels-ipe.navbar-vertical
  #navbar-administration
    .overlay-displace-top > .navbar-lining
      padding-bottom: 59px

.navbar-tray-open
  .container
    width: 100% !important
