/*
 *------------------------------------------------------------------------------
 * Panles IPE Adjustments
 *------------------------------------------------------------------------------
 */

div#panels-ipe-control-container
  bottom: 0 !important
  +transition(all 500ms)

.modal-open
  div#panels-ipe-control-container
    bottom: -48px !important

div#panels-ipe-control-container .panels-ipe-button-container,
div#panels-ipe-control-container .panels-ipe-form-container form>div
  text-align: right !important

#panels-change-layout,
.panels-ipe-editing
  .hidden-lg,
  .hidden-md,
  .hidden-sm,
  .hidden-xs
    display: block !important
    opacity: 0.5

  .empty-container
    display: block

  .panels-ipe-portlet-content
    margin: 0

  .panels-ipe-portlet-wrapper.tab-pane
    display: block !important
    &:not(.active) .panels-ipe-portlet-content
      opacity: 0.5

.panels-ipe-portlet-wrapper
  &:first-child
    // margin-top: 15px
  .panel-pane:first-child
    // margin-top: 0

.tighten-panes
  .panels-ipe-portlet-wrapper
    &, &:first-child
      margin-top: 0

.panels-add-content-modal
  .panel.widget-preview
    overflow: auto
    .panel-title.fieldset-legend
      margin-right: 73px

    .panel-body
      +transition(opacity 250ms)
      opacity: 0.5
    &:hover .panel-body
      opacity: 1

#edit-exposed.general-settings-fieldset
  label
    float: none

  .form-item-use-pager
    display: block

#modal-content fieldset .fieldset-legend i
  float: right
  margin-right: 10px

#modal-content
  fieldset#panopoly-form-widget-preview
    margin-top: 0
    .panel-body
      max-height: 600px
      overflow: auto
      #panel-pane-wrapper-new
        +clearfix

#ctools-entity-field-content-type-formatter-options
  .option-text-aligner
    display: none

.panels-add-content-modal
  .panels-section-column-categories
    .btn
      letter-spacing: 0

    .nav-pills>li>a
      font-size: 12px
      height: auto

  .modal-content-preview-button
    margin: -15px
    padding: 0
    position: relative
    a
      display: block
      padding: 15px
      color: inherit
      float: none !important
      &:hover
        background-color: #F5F5F5

      &.progress-disabled
        opacity: 0.7

      + .ajax-progress
        display: none

.panels-ipe
  #local-tasks
    margin: 0
    ul.primary
      +transition(all 300ms)
      position: fixed
      z-index: 100000
      bottom: 5px
      margin: 0
      left: 15px
      border-bottom: none
      background: transparent
      a
        padding: 0 0.5em 0
        background-color: transparent
        box-shadow: none !important
        color: rgba(255, 255, 255, 0.8)
        line-height: 52px

        &.active
          color: $brand-primary

        &:hover, &:focus
          &:not(.active)
            color: white

  &.modal-open #local-tasks ul.primary
    bottom: -50px

.panels-ipe-newblock
  ul.panels-ipe-linkbar
    margin: 0

.panels-ipe-editing
  .container-outside
    position: relative
    border: 2px dashed rgba(0, 0, 0, 0.1)

    &:before
      content: "container"
      position: absolute
      top: 5px
      left: 5px
      display: block
      font-size: 0.8rem
      margin-bottom: -6px
      text-align: right
      color: rgba(0, 0, 0, 0.2)
      line-height: 1em

    &:nth-child(even)
      background-color: rgba(0, 0, 0, 0.01)

  .container-outside + .container-outside
    border-top: none

.panels-root-content-box
  .panels-modal-add-config img
    vertical-align: middle
    margin-right: 0.2em

#modalContent
  .sticky-header
    display: none

  tr.draggable
    &.drag
      > td, > th
        background-color: #FFFCE5 !important

    .field-multiple-drag
      padding: 15px 10px
      text-align: center
      vertical-align: middle
      font-weight: normal

      .tabledrag-handle
        padding: 0
        cursor: move

        .glyphicon-move
          &, &:before
            display: block
