/*
 *------------------------------------------------------------------------------
 * Panels Forms Adjustments
 *------------------------------------------------------------------------------
 */

#modalContent
  #edit-settings-divisor, #edit-settings-spacing-divisor
    > .panel-body
      padding-left: 0
      padding-right: 0
      > div
        +make-md-column(6)

  #edit-settings-padding, #edit-settings-spacing-padding,
  #edit-settings-margin, #edit-settings-spacing-margin
    .form-item
      display: inline-block
      margin-right: 1em

.views_grid-settings-form
  .views-grid-breakpoint-label
    i.fa
      float: right
      margin-top: 8px
