/*
 *------------------------------------------------------------------------------
 * Panles Mini Adjustments
 *------------------------------------------------------------------------------
 */

.panels-mini-ipe-page
  #breadcrumb
    text-align: center

  #page-top
    background: #F3F3F3
    border-bottom: 1px solid #DDD

.block-panels-mini
  +transition(all 250ms)
  position: relative
  border: 2px dashed transparent

  &:before
    +transition(all 250ms)
    content: "mini-panel"
    position: absolute
    top: -0.3em
    left: 5px
    display: block
    font-size: 0.8rem
    margin-bottom: -6px
    text-align: right
    color: rgba(0, 0, 0, 0.2)
    line-height: 1em
    opacity: 0

  .edit-mini-panel-link
    position: relative
    z-index: 100
    display: table
    margin: 0 auto
    opacity: 0
    margin-top: -2em
    border: 1px solid #ddd

    &.active
      display: none

  &:hover
    border-color: rgba(0, 0, 0, 0.1)
    .edit-mini-panel-link
      opacity: 1
      margin-top: 1em
      margin-bottom: -3em

    &:before
      top: 5px
      opacity: 1
