/*
 *------------------------------------------------------------------------------
 * Banner Node
 *------------------------------------------------------------------------------
 */

.node-banner
  @extend %background-imaged-content
  text-align: center

  // No need for fixed height adjustment.
  .featured-node-content .featured-node-content-inner
    position: static

    &:before
      display: none

  .node-info
    position: relative
    z-index: 10
    padding: 15px

  .node-title
    margin: 10.5px 0
    font-weight: bolder
