/*
 *------------------------------------------------------------------------------
 * Featured Node
 *------------------------------------------------------------------------------
 */

.node-featured
  &.node-news
    @extend %background-imaged-content

    .featured-node-content .featured-node-content-inner:before
      padding-top: 35%
      min-height: 18em

    .node-info
      @extend %stretched-content
      padding: 20px

    .node-title
      margin: 0 0 10.5px

    .field-name-field-tags
      margin-top: -0.6em

    .node-heading
      margin-bottom: 0.4em

    .field-name-body
      margin-right: 30%
      line-height: 1.2em

    .container-fluid &
      .node-info-inner
        @extend %container

  &.node-video
    .featured-node-content-inner:before
      padding-top: 60%

    .node-title
      margin-top: 0
      line-height: 1em
