/*
 *------------------------------------------------------------------------------
 * Poster Node
 *------------------------------------------------------------------------------
 */

.node-poster
  @extend %background-imaged-content

  .featured-node-content .featured-node-content-inner:before
    padding-top: 115%

  .node-info
    @extend %stretched-content
    padding: 15px

  .node-title
    margin: 0.25em 0
