/*
 *------------------------------------------------------------------------------
 * Stacked Node
 *------------------------------------------------------------------------------
 */

.node-stacked
  position: relative
  background: $gray-lighter
  width: 100%

  .featured-node-content-inner
    position: relative
    float: left
    width: 100px
    margin-bottom: -15px
    margin-right: 15px

    &:before
      display: none

  .node-info
    padding: 15px
    vertical-align: middle

  .node-title
    margin: 0
    font-size: 1.2em

  .node-heading:not(:last-child)
    margin-bottom: 0.6em

  .field-name-field-tags
    font-size: 0.7em

  &.has-icon-action
    .node-info
      padding-right: 5em

.pane-views-panes-stacked .views-row
  margin-bottom: 0.5em
