/*
 *------------------------------------------------------------------------------
 * Teaser Node
 *------------------------------------------------------------------------------
 */

.node-stand
  border: 1px solid $gray-lighting
  background-color: white

  .featured-node-content .featured-node-content-inner:before
    padding-top: 56.25% // 16:9

  .node-info
    padding: 0 1em 1em

  .node-title
    margin: 10.5px 0

  .field-name-body,
  .field-name-field-teaser
    line-height: 1.35em
    font-size: 0.85em
    font-family: Roboto
    font-weight: 300

  .field-name-field-tags
    margin-top: 0.5em
    margin-bottom: -0.8em
