/*
 *------------------------------------------------------------------------------
 * Teasers view modes
 *------------------------------------------------------------------------------
 */

.node-teaser,
.node-mini-teaser
  +make-row

  .featured-node-content-inner
    max-height: 200px

  .node-heading
    margin-bottom: 0.2em

  .node-title
    margin: 0 0 0.2em


  /*
   * Teaser.
   */

  .views-row &.node-teaser
    margin-bottom: 60px


  /*
   * Mini Teaser.
   */
  @media (min-width: $screen-sm)
    &.node-mini-teaser .featured-node-content + .node-info
      padding-left: 0
