<div class="iconized-item">
  <p class="pull-right">
    <img class="iconized-item-icon" src="/sites/all/themes/iela_theme/images/sample-image-icon.png" alt="">
  </p>
  <p style="text-align: right; font-family:roboto;">
    <span style="font-family:roboto slab;">
      <strong>
        <span style="font-size:1.2em;">Título</span>
      </strong>
    </span>
    <br>
    Conteúdo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium velit eu nunc rutrum, eget tincidunt sem pulvinar.
  </p>
</div>