/**
 * IELA administrative interface improvements.
 */

body.modal-open {
  overflow: hidden;
}

body.modal-open.ui-modal-open {
  overflow: auto;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.ui-dialog {
  position: absolute !important;
  top: 0 !important;
  height: auto !important;
  z-index: 1300;
  margin: 50px auto 50px
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
  top: 7px !important;
  left: 7px !important;
}

.ui-dialog .ui-dialog-titlebar-close:hover .ui-icon-closethick {
  background-position: -97px -129px;
}

#views-ajax-popup {
  height: auto !important;
}

#views-ajax-popup .scroll.form-wrapper {
  height: auto !important;
  max-height: none !important;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  background-position: 7px 6px;
}

.manualcrop-overlay {
  height: auto !important;
  bottom: 0;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  background: #EEE;
}

.autofill {
  cursor: pointer;
}

#field-social-links-values .field-name-field-social-network,
#user-profile-form .field-name-field-country,
#user-profile-form .field-name-field-university,
#field-social-links-values .field-name-field-url {
  display: inline-block;
  margin-right: 1em;
}

input.form-submit, a.button {
  display: inline-block;
}

.manualcrop-style-thumb {
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 10px;
}

.manualcrop-style-thumb:hover,
.manualcrop-style-thumb:focus {
  border: 1px solid #CCC;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.manualcrop-style-thumb,
.manualcrop-style-thumb:hover,
.manualcrop-style-thumb:focus {
  display: table;
  width: 100%;
  margin-right: 0;
}

.manualcrop-style-thumb strong,
.manualcrop-preview {
  display: table-cell;
  vertical-align: middle;
}

.manualcrop-preview {
  width: 1%;
}

.manualcrop-thumblist {
  padding: 10px 10px 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  max-height: 220px;
}

.field-name-field-featured-image .manualcrop-style-thumb {
  clear: both;
}

div#panels-ipe-control-container .panels-ipe-button-container {
  text-align: right !important;
}

.form-item-title {
  display: inline-block !important;
}

.form-media .media-thumbnail {
  overflow: hidden;
}

/**
 * Token Insert Entity
 */

#token-insert-entity-dialog {
  padding: 4px 15px;
}

#token-insert-entity-dialog   + .ui-dialog-buttonpane button {
  border: 1px solid #999;
  border-radius: 0;
}

.ui-dialog {
  overflow: visible;
}

.ui-dialog .ui-dialog-content {
  overflow: visible;
}
