/**
 * IELA preview view modes page.
 */

.view-mode-list-item {
  padding: 30px 0;
}

.view-mode-list-item + .view-mode-list-item {
  border-top: 2px dashed #ccc;
}

.view-mode-list-item > .container {
  position: relative;
}

.view-mode-list-item > .container > h2 {
  margin-top: 0;
}

.ui-slider {
  width: 200px;
  border: 1px solid #CCC;
  background: #FFF;
  border-radius: 2px;
}

.ui-slider-handle {
  border-radius: 100% !important;
  background-color: #FFF !important;
  border: 1px solid #CCC !important;
  cursor: pointer !important;
}

.adaptative-options {
  position: absolute;
  top: 0;
  right: 0;
}

.adaptative-options > div {
  float: left;
  margin: 0 15px !important;
}

.adaptative-options > .column-option {
  margin-top: 10px !important;
}

.preview-container > .row > div {
  border: 1px dashed red;
  border-width: 0 1px;
}
