/*
 *------------------------------------------------------------------------------
 * Helpers
 *------------------------------------------------------------------------------
 */


%screen-reader-only
  position: absolute !important
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  overflow: hidden
  height: 1px
  width: 1px

%background-imaged-content
  text-shadow: 0.2em 0.2em 0.6em rgba(0, 0, 0, 0.3)

  &,
  a,
  a:hover,
  a:focus,
  .field-type-text-with-summary,
  .field-type-text-long
    color: white

  img
    +transition(500ms)
    +filter(brightness(70%))
    transform: scale(1) 

  a, &[data-click], [data-click]
    &:hover, &:focus
      img
        transform: scale(1.02) 

%stretched-content
  position: absolute
  bottom: 0
  left: 0
  right: 0
  width: 100%
  z-index: 10
