/*
 *------------------------------------------------------------------------------
 * Images
 *------------------------------------------------------------------------------
 */


%cover-background
  position: absolute
  top: -50%
  left: -50%
  width: 200%
  height: 200%

%cover-content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  min-width: 50%
  min-height: 50%
  overflow-x: hidden
  object-fit: cover
