/*
 *------------------------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------------------------
 */


%more-button
  background-color: $brand-primary
  margin: 0
  color: white
  font-family: $headings-font-family
  font-weight: bold

  &:hover, &:focus
    margin-top: 0

    &, &:after
      background-color: $link-hover-color

  &:after
    +transition(all 250ms)
    content: "\f067"
    display: block
    padding: 0 4em
    font-family: "FontAwesome"
    font-weight: normal
    font-size: 1.5em
    background-color: $brand-primary
