/*
 *------------------------------------------------------------------------------
 * Structure
 *------------------------------------------------------------------------------
 */

$bp-map: ("xs": 0, "sm": $screen-sm, "md": $screen-md, "lg": $screen-lg)

@each $bp, $size in $bp-map
  @media (min-width: $size)
    %col-#{$bp}-bleed
      padding-left: 0 !important
      padding-right: 0 !important

    %col-#{$bp}-no-bleed
      padding-left: $grid-gutter-width / 2 !important
      padding-right: $grid-gutter-width / 2 !important

    %col-#{$bp}-no-clear-left,
    %col-#{$bp}-no-clear-right
      clear: none

    %col-#{$bp}-clear-left
      clear: left

    %col-#{$bp}-clear-right
      clear: right

    %col-#{$bp}-margin-bottom
      margin-bottom: 30px

    %col-#{$bp}-no-margin-bottom
      margin-bottom: 0

%container
  @include container-fixed

  @media (min-width: $screen-sm-min)
    width: $container-sm
  @media (min-width: $screen-md-min)
    width: $container-md
  @media (min-width: $screen-lg-min)
    width: $container-lg

