/*
 *------------------------------------------------------------------------------
 * User Profile
 *------------------------------------------------------------------------------
 */

.user-profile
  .user-heading h4
    font-weight: bold

  .featured-user-content
    display: block
    padding: 15px

    .featured-user-content-inner
      position: relative

      &:before
        content: ""
        display: block
        padding-top: 100%

    .preview-content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      overflow: hidden

      .file-content-theme-image,
      .file-content-theme-image-style
        > .content
          @extend %cover-background

          img
            @extend %cover-content
            +transition(500ms)
            max-width: 50%
            border-radius: 50%

          a:before
            +transition(500ms)
            content: ""
            position: absolute
            display: block
            top: 0
            left: 0
            bottom: 0
            right: 0
            z-index: 5
            background-color: black
            opacity: 0

  &.has-social-links
    .featured-user-content img
      +filter(brightness(100%))

    &:hover .featured-user-content img
      +filter(brightness(100%))
