/*
 *------------------------------------------------------------------------------
 * Featured Profile
 *------------------------------------------------------------------------------
 */

.user-profiles-featured
  // margin-left: -15px
  // margin-right: -15px
  // text-align: center
  // font-size: 0px
  // word-spacing: 0px
  // letter-spacing: 0px

  .user-profile-featured
    // width: 25%
    // @todo: blame on chrome 39!
    // margin-left: -1px
    padding: 0 15px
    font-size: $font-size-base
    font-size: 1rem
    word-spacing: initial
    letter-spacing: initial

.user-profile-featured
  // display: inline-block
  text-align: center
  // vertical-align: top
  margin-bottom: 30px

  .user-heading
    margin-top: -15px

  h4
    margin: 0.4em

  .user-info
    display: block
    font-size: 15px
    line-height: 1.3em
    color: $gray-medium

  .field-name-field-social-links
    +transition(all 250ms)
    position: absolute
    bottom: -10%
    left: 0
    right: 0
    width: 100%
    padding: 0 15px
    margin-bottom: -12px
    opacity: 0
    z-index: 10

  &:hover .field-name-field-social-links
    bottom: 0%
    opacity: 1

  .field-collection-item-field-social-links
    position: relative
    height: 48px
    width: 48px
    margin: 5px
    padding: 0
