/*
 *------------------------------------------------------------------------------
 * Panels Common Styles
 *------------------------------------------------------------------------------
 */

.panel-pane
  margin-bottom: 30px

  .pane-title
    margin-bottom: 0.8em
    margin-top: 10px
    padding-bottom: 0.2em
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    font-weight: bold

    a:after
      display: inline-block
      font: normal normal normal 0.6em/1 FontAwesome
      content: "\f08e"
      margin-left: 0.5em
      vertical-align: middle

  &:first-child
    // margin-top: 15px

  .default-padding
    padding: 15px

div.pane-bundle-video
  .media-youtube-video
    overflow: auto
    position: static
    padding: 0
    height: auto

    iframe
      position: static

.tighten-panes
  .panel-pane
    &, &:first-child
      margin-top: 0
      margin-bottom: 0

    &.pane-views-panes
      .views-row
        margin: 0

    .heading-container .title
      margin: 0
