/*
 *------------------------------------------------------------------------------
 * Heading Pane
 *------------------------------------------------------------------------------
 */

.heading-container
  font-family: $headings-font-family

  h1, h2, h3, h4, h5, h6
    margin: 0.4em 0

  .title-info
    display: block
    font-size: 18px
    margin-top: 25px
    line-height: 1.3em
    color: $gray-medium
  
  &.text-center .title-info
    padding: 0 15%
  
  &.text-rigth .title-info
    margin-left: 30%
  
  &.text-left .title-info
    margin-right: 30%
