/*
 *------------------------------------------------------------------------------
 * Dark Background
 *------------------------------------------------------------------------------
 */

.dark-background
  color: white
  text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.05)

  h1, h2, h3, h4, h5, h6
    &, a
      color: white

  .heading-container .title-info,
  label .form-required,
  .user-profile-featured .user-info,
  .table caption,
    color: white

  .field-type-text-with-summary,
  .field-type-text-long,
  .formatter-text-default.panopoly-wysiwyg-text
    color: white
    blockquote
      color: $gray-lighting
