/*
 *------------------------------------------------------------------------------
 * Default Elements
 *------------------------------------------------------------------------------
 */

body, html
  font-size: $font-size-base
  line-height: 1.5em

iframe
  max-width: 100%

a:hover,
a:focus
  text-decoration: none

h5, h6
  font-weight: normal

h1, h2, h3, h4, h5, h6
  word-wrap: break-word
  a &, & a
    color: $gray
  a:hover &,
  a:focus &,
  & a:hover,
  & a:focus
    color: $link-color

h4, .h4, h5, .h5, h6, .h6
  margin-top: 0.7em
  margin-bottom: 0.7em
