/*
 *------------------------------------------------------------------------------
 * Forms
 *------------------------------------------------------------------------------
 */

label
  font-family: $headings-font-family

input,
textarea
  font-family: $reading-font-family

input[type="radio"],
input[type="checkbox"]
  margin: 8px 0 0

label .form-required
  font-family: $nav-font-family
  font-size: 0.7em
  font-weight: 300
  color: $gray-medium

.btn
  font-family: $nav-font-family
  padding: 10px 16px
  border-radius: 0
  font-size: 12px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 2px
  box-shadow: none
  border: 0

.dark-background
  input[type=text],
  input[type=password],
  input[type=email],
  textarea,
  [type=text].form-control,
  [type=password].form-control,
  textarea.form-control
    background-color: white
    padding: 0 0.8em
    &:focus
      +box-shadow(none)

  .form-control
    height: 42px

input[type=text],
input[type=password],
input[type=email],
textarea,
[type=text].form-control,
[type=password].form-control,
textarea.form-control
  &.error,
  .has-error &
    color: $brand-danger

.form-item input.error,
.form-item textarea.error,
.form-item select.error
  box-shadow: inset 0 -1px 0 $brand-danger
  border: 0

.help-block
  font-style: italic
  font-size: 0.9em

label .help-block
  font-size: 0.8em
  font-family: $nav-font-family

.entityform,
.entity-entityform-type
  textarea
    resize: none
  .form-actions
    display: table
    width: 100%
    .form-action
      display: table-cell
      padding: 0 5px
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0

      .btn
        width: 100%

.simplenews
  .form-item-mail
    label
      display: none

  > div > .form-submit
    display: block
    width: 100%

  .simplenews-result
    background-color: rgba(0, 0, 0, 0.3)
    border: 1px solid rgba(0, 0, 0, 0.3)
    color: #999
    height: 42px
    font-size: 0.9em
    line-height: 42px

.radios-hover-aid
  &:hover label
    opacity: 0.5
  label
    +transition(400ms)
    &:hover
      opacity: 1

.cover
  position: absolute
  top: 0
  right: 0
  left: 0
  min-height: 100%
  z-index: 10

.alert-messages-cover
  padding: 15px
  display: flex !important
  align-items: center
  justify-content: center

  > .close
    position: absolute
    top: 5px
    right: 15px

  .background-cover
    opacity: 0.85
    z-index: -1
