/*
 *------------------------------------------------------------------------------
 * Header
 *------------------------------------------------------------------------------
 */



#over-header
  height: 46px
  border-bottom: 1px solid $gray-lighter

#branding
  display: none // @temp

#social
  margin: 0
  list-style: none
  text-align: right
  font-size: 1.6em
  float: right
  line-height: 46px
  
  li
    display: inline-block

    &:first-child a
      padding-left: 0
    &:last-child a
      padding-right: 0

  a
    padding: 0 0.3em
    color: $gray

    &:hover,
    &:focus
      color: $gray-dark

#brand > .row
  padding: 30px 0

#logo-container
  display: block
  text-align: center
