/*
 *------------------------------------------------------------------------------
 * Images
 *------------------------------------------------------------------------------
 */

.featured-image-cover
  display: block

  .featured-image-cover-inner
    position: relative

    &:before
      content: ""
      display: block
      padding-top: 100%

  .featured-image-wrapper,
  .featured-image-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  .featured-image-wrapper
    overflow: hidden

  .featured-image-background
    background-size: cover
    background-position: center center

a.featured-image-cover
  .featured-image-wrapper
    &:before
      +transition(all 250ms)
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 10
      background-color: transparent
      box-shadow: inset 0 0 60px transparent

  &:hover, &:focus
    .featured-image-wrapper:before
      +transition(all 400ms)
      background-color: rgba(0, 0, 0, 0.05)
      box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.2)
