/*
 *------------------------------------------------------------------------------
 * Navbar Types
 *------------------------------------------------------------------------------
 */

$navbar-types: (
  default: (
    background: $brand-primary,
    color: white,
    color-hover: $brand-primary-dark,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-primary,
      color-hover: $brand-primary-darken
    )
  ),

  default-dark: (
    background: $brand-primary-darkish,
    color: white,
    color-hover: $brand-primary-dark,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-primary,
      color-hover: $brand-primary-darken
    )
  ),

  info: (
    background: $brand-info,
    color: white,
    color-hover: $brand-info-dark,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-info,
      color-hover: $brand-info-darken
    )
  ),

  info-dark: (
    background: $brand-info-darkish,
    color: white,
    color-hover: $brand-info-light,
    color-active: white,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-info,
      color-hover: $brand-info-darken
    )
  ),

  danger: (
    background: $brand-danger,
    color: white,
    color-hover: $brand-danger-dark,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-danger,
      color-hover: $brand-danger-darken
    )
  ),

  danger-dark: (
    background: $brand-danger-darkish,
    color: white,
    color-hover: $brand-danger-dark,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-danger,
      color-hover: $brand-danger-darken
    )
  ),

  warning: (
    background: $brand-warning,
    color: $brand-warning-dark,
    color-hover: white,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-warning-dark,
      color-hover: $brand-warning-darken
    )
  ),

  warning-dark: (
    background: $brand-warning-darkish,
    color: $brand-warning-dark,
    color-hover: white,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $brand-warning-dark,
      color-hover: $brand-warning-darken
    )
  ),

  dark: (
    background: $gray-darkish,
    color: white,
    color-hover: $gray-medium,
    dropdown: (
      toggle-stripes: rgba(255, 255, 255, 0.7),
      border-color: $gray-darker,
      background: $gray-darkish,
      background-hover: #231F20,
      color: white,
      color-hover: white
    )
  ),

  light: (
    background: $gray-lighter,
    color: $gray-darkish,
    color-hover: $gray-darker,
    dropdown: (
      toggle-stripes: rgba(0, 0, 0, 0.7),
      border-color: $gray-lighting,
      background: white,
      background-hover: $gray-lighter,
      color: $gray-darkish,
      color-hover: $gray-darker
    )
  ),
);
