/*
 *------------------------------------------------------------------------------
 * Navbar Elements
 *------------------------------------------------------------------------------
 */

@import navbar-types

#header .navbar
  z-index: 510 !important

  #navbar-logo
    padding: 12px

.navbar
  height: 50px
  margin-bottom: 0
  width: 100%
  min-height: 0
  z-index: 50
  box-sizing: initial
  border: none
  border-radius: 0
  box-shadow: none

  .navbar-toggle
    +transition(250ms)
    padding: 2px 10px
    opacity: 0.7

    &:hover, &:focus
      opacity: 1

    .icon-bar
      background-color: rgba(0, 0, 0, 0.5)

  > .container
    position: relative

  .navbar-brand
    height: 50px
    line-height: 52px
    padding-top: 0
    padding-bottom: 0
    font-family: Roboto
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 12px
    font-weight: bold

    img
      vertical-align: top
      height: 100%

  a.navbar-brand
    &, &:hover, &:focus, &:active
      color: inherit

  .navbar-nav-middle
    position: absolute
    left: 0
    right: 0
    width: 100%
    text-align: center
    height: 0px

    > .navbar-nav
      display: inline-block
      float: none !important

  .navbar-collapse
    border-top: 0
    &.in 
      overflow-y: visible

  .navbar-nav
    > li > a
      line-height: 52px
      height: 50px
      padding: 0 15px
      box-sizing: initial
      text-transform: uppercase
      letter-spacing: 2px
      font-size: 12px
      font-weight: 400

      i
        font-size: 1.2em

        &.icon-alone
          position: relative
          bottom: -0.1em
          font-size: 1.5em

          + .caret
            opacity: 0

        &:first-child
          margin-right: 0.25em

        &:last-child
          margin-left: 0.25em

        &:first-child:last-child
          margin-left: 0
          margin-right: 0

    > li:hover > a,
    > li.open > a,
    > li.open > a:hover,
    > li.open > a:focus,
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus,
    > li > a:hover,
    > li > a:focus
      background-color: transparent

    .active > a
      font-weight: 600

    > .active > a
      &:focus, &:hover
        background-color: transparent

  .dropdown.dropdown-static
    &:hover,
    &:focus,
    &.open
      position: static

    > .dropdown-menu
      min-width: 0

  &.not-collapsed
    .navbar-header
      float: left

    .navbar-collapse
      width: auto
      border-top: 0
      box-shadow: none

      &.collapse
        display: block !important
        visibility: visible !important
        height: auto !important
        padding-bottom: 0 // Override default setting
        overflow: visible !important

      // Undo the collapse side padding for navbars with containers to ensure
      // alignment of right-aligned contents.
      .navbar-fixed-top &,
      .navbar-static-top &,
      .navbar-fixed-bottom &
        padding-left: 0
        padding-right: 0

    .container,
    .container-fluid
      > .navbar-header,
      > .navbar-collapse
        margin-right: 0
        margin-left:  0

    > .container,
    > .container-fluid
      & .navbar-brand
        margin-left: -$navbar-padding-horizontal

    .navbar-toggle
      display: none

    .navbar-nav
      float: left
      margin: 0

      > li
        float: left
        > a
          padding: 0 15px

    .navbar-form
      width: auto
      border: 0
      margin-left: 0
      margin-right: 0
      padding-top: 0
      padding-bottom: 0
      @include box-shadow(none)

    .navbar-text
      float: left
      margin-left: $navbar-padding-horizontal
      margin-right: $navbar-padding-horizontal

    .navbar-left 
      float: left !important

    .navbar-right
      float: right !important
      margin-right: -$navbar-padding-horizontal

      ~ .navbar-right
        margin-right: 0

    .navbar-right
      .dropdown-menu
        right: 0
        left: auto

      // Necessary for overrides of the default right aligned menu.
      // Will remove come v4 in all likelihood.
      .dropdown-menu-left
        left: 0
        right: auto

    .dl-horizontal
      dt
        float: left
        width: ($dl-horizontal-offset - 20)
        clear: left
        text-align: right
        @include text-overflow
      dd
        margin-left: $dl-horizontal-offset

  &.is-collapsed
    .navbar-collapse
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)

      .navbar-nav
        margin: 0 -15px

        .caret
          display: none !important

        li
          > a
            border-top: 1px solid rgba(0, 0, 0, 0.2)
          &, &:hover, &:focus, &.active, &.open
            > a
              background-color: transparent
              &, &:hover, &:focus
                color: inherit !important
          
          a
            height: 50px
            line-height: 52px
            &:hover, &:focus
              background-color: rgba(0, 0, 0, 0.1)

          &.dropdown.open
            > .dropdown-menu
              display: block

          .dropdown-menu
            display: block
            border-radius: 0
            border: none
            padding: 0
            margin: 0
            position: static
            float: none
            background: rgba(0, 0, 0, 0.2)
            color: inherit

            a
              padding: 0 15px
              color: inherit
              letter-spacing: 2px
              font-size: 12px
              font-weight: 400
              text-transform: uppercase

      .navbar-nav-middle
        position: static
        text-align: initial
        height: auto
        width: auto

        .navbar-nav
          display: block

  .is-sticky &
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)

  .sticky-wrapper &
    &.is-collapsed .navbar-collapse,
    &.is-collapsed .navbar-collapse.in
      overflow-y: auto

  .breakpoint-xs .is-sticky &
    position: relative !important
    top: auto !important

  .breakpoint-xs .sticky-wrapper &,
  .breakpoint-xs #header &
    height: 64px

    .navbar-toggle  
      padding: 9px 10px

    .navbar-brand
      height: 64px
      line-height: 66px

    .navbar-nav
      > li > a
        padding: 0 15px
        line-height: 66px
        height: 64px

  @each $type, $settings in $navbar-types
    &.navbar-#{$type}
      background-color: map-get($settings, background)
      color: map-get($settings, color)

      &, &.is-collapsed .navbar-collapse .navbar-nav
        background-color: map-get($settings, background)

      .navbar-toggle .icon-bar
        background-color: map-get(map-get($settings, dropdown), toggle-stripes)

      $brand-settings: map-get($settings, brand)
      @if $brand-settings
        .navbar-brand
          background-color: map-get($brand-settings, background)

        a.navbar-brand
          &:hover, &:focus, &:active
            background-color: map-get($brand-settings, background-hover)

      .navbar-nav
        > li > a
          color: map-get($settings, color),

        > li > a .caret
          border-top-color: map-get($settings, color)

        > li:hover > a,
        > li.open > a,
        > li.active > a,
        > li > a:hover,
        > li > a:focus
          color: map-get($settings, color-hover)

          & .caret
            opacity: 1
            border-top-color: map-get($settings, color-hover)

        > li.open
          > a .caret
            border-top-color: map-get($settings, background)
            bottom: -4px

        @if (map-has-key($settings, color-active))
          > li.active > a
            color: map-get($settings, color-active)

      .dropdown-menu
        $dropdown-settings: map-get($settings, dropdown)
        color: map-get($dropdown-settings, color)
        background-color: map-get($dropdown-settings, background)
        border-color: map-get($dropdown-settings, border-color)

        > li > a
          color: map-get($dropdown-settings, color)

        > li.active > a,
        > li > a:hover,
        > li > a:focus
          background-color: map-get($dropdown-settings, background-hover)
          color: map-get($dropdown-settings, color-hover)

.breakpoint-xs .sticky-wrapper
  height: auto !important

.dropdown-mini-panel-menu
  padding: 0

  .dropdown-static &
    max-width: 100%

  .container-outside
    padding: 0

  .panel-pane
    margin-bottom: 15px

    .pane-title
      margin-bottom: 0.3em
      font-size: 1em

  .navbar & .dropdown-menu
    margin-left: -15px !important
    margin-right: -15px !important

  .is-collapsed &
    width: 100% !important
    margin-left: 0 !important
    background-color: transparent !important

    .panel-pane-wrapper
      display: none

      .panel-pane
        margin-bottom: 0

      .pane-title
        display: none

      &.menu-style-dropdown
        display: block

        .panel-pane
          width: 100% !important
