/*
 *------------------------------------------------------------------------------
 * Navigation Elements
 *------------------------------------------------------------------------------
 */

.dropdown-menu
  margin-top: 0 !important
  border: 1px solid $gray-lighting
  border-top: 0
  margin: 0
  min-width: 100%
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
  padding-bottom: 8px

  &.dropdown-align-left
    left: 0
    right: auto
  &.dropdown-align-right
    right: 0
    left: auto

  > li > a
    padding: 3px 15px
    letter-spacing: normal
    font-size: 0.8em
    min-width: 8em
    color: $brand-primary

  > li.active > a,
  > li > a:hover,
  > li > a:focus
    background-color: $gray-lighter
    color: $brand-primary-darken

  &.standalone,
  .dropdown.open > &
    display: block

  &.standalone
    position: static
    border: 0
    border-radius: 0
    box-shadow: none
    float: none

.caret
  margin-left: 0.3em

  .navbar-nav > li > a > &
    +transition(all 250ms)
    display: block
    position: absolute
    bottom: 0.7em
    left: 50%
    margin-left: -4px
    z-index: 1001

.nav
  > li > a
    font-family: $nav-font-family
    font-size: 13px
    font-weight: 400
    letter-spacing: 2px

    text-transform: uppercase
    padding: 0 15px
    line-height: 4em
    height: 3.8em
    box-sizing: initial

.breadcrumb
  margin-bottom: 0
  padding: 0
  border-radius: 0
  background-color: transparent
  font-size: 0.6em
  text-transform: uppercase
  line-height: 2.5em
  vertical-align: middle

  li:last-child
    font-weight: bold

.panel-pane.pane-breadcrumb,
#breadcrumb
  margin-bottom: 0

  h2
    margin: 0 0.5em 0 0
    display: inline-block
    font-size: 0.6em
    font-weight: 300
    font-family: inherit
    text-transform: uppercase
    font-weight: normal
    color: #999
    line-height: 2.5em
    vertical-align: middle

    &:after
      content: ": "
      display: inline

    + .breadcrumb
      display: inline-block

.nav-links
  line-height: 1.25em
  font-size: 0.9em

  &, .submenu
    margin: 0
    padding: 0

  li
    list-style: none

  > li
    margin-bottom: 1.5em
    > a
      font-weight: bold
      font-family: $headings-font-family
      font-size: 1.3em
      &.nolink
        color: inherit

  .submenu
    li
      margin: 1em 0

  .dark-background &
    a
      color: $gray-medium
      &.active, &:hover, &:focus
        color: white

    > li > a
      color: white
