/*
 *------------------------------------------------------------------------------
 * Page
 *------------------------------------------------------------------------------
 */

#main
  padding: 15px 0

  &.is-panel
    padding: 0

.page-header
  position: relative
  border-bottom-width: 10px
  padding-bottom: 20px
  margin: 30px 0 50px

  .pane-content &
    margin-top: 10px
    margin-bottom: 10px

  &:before
    bottom: -20px
    border: 10px solid white
    z-index: 10

  &:after
    bottom: -30px
    border: 15px solid $gray-lighter
    z-index: 5

  &:after,
  &:before
    content: ""
    position: absolute
    display: block
    border-bottom-color: transparent
    border-right-color: transparent
    left: 30px

#breadcrumb  
  .breadcrumbs
    list-style: none
    margin: 0
    padding: 0

    > li
      display: inline-block
      &:after
        content: "\f105"
        display: inline
        font-family: FontAwesome
        margin: 0 0.5em
      &:last-child::after
        display: none
