/*
 *------------------------------------------------------------------------------
 * Search
 *------------------------------------------------------------------------------
 */

.pane-search-box
  margin-bottom: 0

  .search-form
    .input-group
      border: 1px solid #DDD
      border-bottom: 0

    .form-item-keys input
      background: #FFF
      padding: 0px 15px

    .form-submit
      height: 47px
      margin-left: 0
      box-shadow: inset 0 -1px 0 #DDD
      border-left: 1px solid #DDD

.pane-search-results-count
  text-align: center
