/*
 *------------------------------------------------------------------------------
 * Structure
 *------------------------------------------------------------------------------
 */

@each $breakpoint in $breakpoints
  .col-#{$breakpoint}-bleed
    @extend %col-#{$breakpoint}-bleed

  .col-#{$breakpoint}-no-bleed
    @extend %col-#{$breakpoint}-no-bleed

  .col-#{$breakpoint}-clear-left
    @extend %col-#{$breakpoint}-clear-left

  .col-#{$breakpoint}-no-clear-left
    @extend %col-#{$breakpoint}-no-clear-left

  .col-#{$breakpoint}-clear-right
    @extend %col-#{$breakpoint}-clear-right

  .col-#{$breakpoint}-no-clear-right
    @extend %col-#{$breakpoint}-no-clear-right

  .col-#{$breakpoint}-margin-bottom
    @extend %col-#{$breakpoint}-margin-bottom

  .col-#{$breakpoint}-no-margin-bottom
    @extend %col-#{$breakpoint}-no-margin-bottom

.panel-panel-container
  padding-top: 20px

.container .container
  width: auto

.empty-container
  display: none

.full-height-column
  margin-bottom: -99999px
  padding-bottom: 99999px
