/*
 *------------------------------------------------------------------------------
 * Core Drupal Adjustments
 *------------------------------------------------------------------------------
 */

.element-invisible
  @extend %screen-reader-only

#messages .alert-messages:first-child .alert:first-child
  margin-top: 1em

.alert
  margin: 0
  border-radius: 0

  + .alert
    border-top: 1px solid rgba(0, 0, 0, 0.2)

.alert-dismissable .close
  font-size: 30px
  right: -20px

.alert-messages .alert:last-child
  margin-bottom: 1em
