/*
 *------------------------------------------------------------------------------
 * Tables
 *------------------------------------------------------------------------------
 */


.table
  position: relative
  margin-bottom: 2em
  background-color: white

  &.has-caption
    margin-bottom: 3em

  &.table-condensed
    font-size: 0.85em

  caption
    font-family: $nav-font-family
    font-size: 0.8em
    border-top: 1px solid #ddd
    position: absolute
    bottom: -3em
    height: 3em
    line-height: 3em
    color: #666
    font-weight: 300
    width: 100%
    font-style: italic
    text-align: left

  th, td
    vertical-align: middle
  th
    text-align: center
    font-family: $headings-font-family
    font-weight: bold

    h1, h2, h3, h4, h5, h6
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0

  > thead
    > tr > th
      vertical-align: middle
      
  > tbody
    th
      background-color: #f9f9f9
      border-bottom: 0
