/*
 *------------------------------------------------------------------------------
 * WYSIWYG
 *------------------------------------------------------------------------------
 */

.formatter-text-default.panopoly-wysiwyg-text
  font-family: $reading-font-family
  color: $gray-darkish

  p
    line-height: 1.5em

    &:first-child,
    &:last-child
      &:empty
        display: none

  .pull-left
    margin-right: 1em

  .pull-right
    margin-left: 1em

  .pull-left,
  .pull-right
    margin-bottom: 0.8em

  .pull-center
    text-align: center

  @media (min-width: $screen-md-min)
    @each $selector, $size in (".media-element-container": 50%, "blockquote": 60%)
      #{$selector}
        &.pull-right,
        &.pull-left
          max-width: #{$size + "%"}
    
  @media (min-width: $screen-lg-min)
    @each $selector, $size in (".media-element-container": 50%, "blockquote": 40%)
      #{$selector}
        &.pull-right,
        &.pull-left
          max-width: #{$size + "%"}

  blockquote
    font-family: $nav-font-family
    font-weight: 300
    color: #888
    
    &.pull-right,
    &.pull-left
      margin-right: 0
      margin-left: 0

  .capitalize
    font-size: 5.8em
    display: inline-block
    float: left
    line-height: 1em
    margin: 0 0.1em 0 0
    height: 1em
    min-width: 1em
    text-align: center
    background-color: $brand-primary
    color: #FFF

  .media-element-container
    margin-bottom: 1.5em
    margin-top: 0

    .field-name-field-file-image-alt-text
      text-align: center
      font-style: italic
      opacity: 0.5
      font-size: 0.75em

      &.left-above,
      &.left-below
        text-align: left

      &.right-above,
      &.right-below
        text-align: right

  p,
  .media-element-container
    &:last-child
      margin-bottom: 0

  &.pull-left,
  &.pull-right
    .field-name-field-file-image-alt-text
      margin-bottom: 0

  .footnotes
    padding: 1em
    background-color: #F3F3F3

    > header > br:first-child
      display: none

    h2
      margin-top: 0
      font-size: 1.4em

    ol
      list-style-position: inside
      padding-left: 0
      margin: 0

  @import ./wysiwyg/**/*

// Admin only
.cke_editable
  img.pull-center
    display: block
