/*
 *------------------------------------------------------------------------------
 * Node
 *------------------------------------------------------------------------------
 */

.node
  h4.node-title
    font-weight: bolder

  .node-inner
    position: relative

  .submitted
    line-height: 1.2em
    font-size: 0.8em

  .featured-node-content
    display: block

    .featured-node-content-inner
      position: relative

      &:before
        content: ""
        display: block
        padding-top: 100%

    .preview-content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      overflow: hidden

      .file-content-theme-image,
      .file-content-theme-image-style
        > .content
          @extend %cover-background

          img
            @extend %cover-content
            max-width: 50%

          a:before
            +transition(500ms)
            content: ""
            position: absolute
            display: block
            top: 0
            left: 0
            bottom: 0
            right: 0
            z-index: 5
            background-color: black
            opacity: 0

    iframe
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      height: 100%
      width: 100%

  &[data-click]:hover .featured-node-content .file-content-theme-image a:before,
  &[data-click]:hover .featured-node-content .file-content-theme-image-style a:before,
  .featured-node-content .file-content-theme-image a:hover:before,
  .featured-node-content .file-content-theme-image a:focus:before,
  .featured-node-content .file-content-theme-image-style a:hover:before,
  .featured-node-content .file-content-theme-image-style a:focus:before
    opacity: 0.15 !important

  .field-name-field-tags
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: 0.675em

  .field-name-field-users.formatter-textformatter-list
    font-family: $nav-font-family
    font-size: 0.8em
    margin-top: -0.4em
    line-height: 1.2em

    .field-label, .field-items, .textformatter-list
      display: inline
      float: none
