/*
 *------------------------------------------------------------------------------
 * Accordion Region Style
 *------------------------------------------------------------------------------
 */

%accordion-container
  %accordion-item
    position: relative
    margin-bottom: 0
    background-color: $gray-lightest
    border-bottom: 1px solid $gray-lighting

    + %accordion-item
      margin-top: 0
    &%active-accordion-item
      margin-bottom: 20px

  %accordion-item-content
    padding: 15px 15px 15px

  %accordion-item-title
    +transition(all 250ms)
    margin: 0
    padding: 0.7em 0.8em 0.7em 38px
    border: none
    border-left: 3px solid $brand-primary
    border-radius: 0
    color: #444
    font-weight: 400
    cursor: pointer
    outline: none
    background: $gray-lighter
    font-size: 17px

    &.ui-state-active
      padding-left: 10px
      border-left-width: 42px

      .fa:first-child
        color: $brand-primary
        border-color: transparent

    &:hover, &:focus
      background-color: darken($gray-lighter, 3%)
      .fa:first-child
        color: $brand-primary
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1)
    
    .fa:first-child
      +transition(all 250ms)
      font-size: 10px
      position: absolute
      left: 8px
      top: 8px
      background: #FFF
      border: 1px solid #EEE
      height: 26px
      width: 26px
      text-align: center
      line-height: 25px
      color: #BBB

    .fa.fa-external-link
      float: right
      line-height: 25px
      font-size: 0.8em
      cursor: pointer
      &:hover
        color: $brand-primary

.accordion-region-style
  @extend %accordion-container
  .pane-content
    @extend %accordion-item
    @extend %accordion-item-content
    border-bottom: 0

  .panel-pane
    margin-top: 0
    margin-bottom: 0
    &.active-accordion-pane .pane-content
      border-bottom: 1px solid $gray-lighting

  .panels-ipe-portlet-wrapper + .panels-ipe-portlet-wrapper .panel-pane
    margin-top: 0

  .pane-title
    @extend %accordion-item-title
    border-bottom: 1px solid $gray-lighting

    .fa:first-child
      left: 23px

  .panel-pane.active-accordion-pane .pane-title
    border-bottom: none

  .field-type-text-with-summary.formatter-text-default
    font-size: inherit
    color: inherit

.views-accordion-pane-style
  @extend %accordion-container
  .view-content-outer
    @extend %accordion-item

    &.active-accordion-view-content

  .view-content-inner
    @extend %accordion-item-content

  .views-row
    margin-bottom: 10px

  .view-content-title
    @extend %accordion-item-title
