/*
 *------------------------------------------------------------------------------
 * Boxed Pane Style
 *------------------------------------------------------------------------------
 */

.panel-pane-wrapper.box-style
  .pane-title.boxed-title
    font-size: 1.2em
    margin-bottom: 0px
    margin-top: 0
    padding: 12px 15px
    border-bottom: none

    a
      position: relative
      display: block
      margin: -12px 0
      padding: 12px 0

  .pane-content
    position: relative
    @each $type in (margin, padding)
      @each $side in (top, right, bottom, left)
        @each $name, $size in (none: 0px, small: 15px, medium: 30px, big: 45px)
          &.#{$type}-#{$side}-#{$name}
            #{$type}-#{$side}: $size
