/*
 *------------------------------------------------------------------------------
 * Entity Grid Styles
 *------------------------------------------------------------------------------
 */

.entity-grid
  .field-type-entityreference
    > .field-items > .entity-view
      width: 100%
      margin-bottom: 30px

  @for $i from 1 through 12
    &.entity-grid-xs-#{$i}
      .field-type-entityreference > .field-items > .entity-view
        +make-xs-column($i)
  @for $i from 1 through 12
    &.entity-grid-sm-#{$i}
      .field-type-entityreference > .field-items > .entity-view
        +make-sm-column($i)
  @for $i from 1 through 12
    &.entity-grid-md-#{$i}
      .field-type-entityreference > .field-items > .entity-view
        +make-md-column($i)
  @for $i from 1 through 12
    &.entity-grid-lg-#{$i}
      .field-type-entityreference > .field-items > .entity-view
        +make-lg-column($i)

  .field-type-entityreference > .field-items
    +clearfix
    margin: 0 -15px
    font-size: 0px
    word-spacing: 0px
    letter-spacing: 0px
    text-align: center

    > .field-type-entityreference > .field-items > .entity-view
      display: inline-block
      float: none
      padding: 0
      vertical-align: top
      padding: 0 15px
      font-size: $font-size-base
      font-size: 1rem
      word-spacing: initial
      letter-spacing: initial
      // @todo: blame on Chrome 39!
      margin-left: -1px

  &.entity-grid-reduce
    h4
      font-size: 18px

    .user-info
      font-size: 15px
