/*
 *------------------------------------------------------------------------------
 * Featured Text Style
 *------------------------------------------------------------------------------
 */

.featured-text
  line-height: 1.3em
  text-align: center
  font-size: 1.2em
  font-weight: 200
  
  p:last-child
    margin: 0

  .panel-pane
    margin-top: 30px

  .field-type-text-with-summary.formatter-text-summary-or-trimmed
    font-family: $font-family-sans-serif
