/*
 *------------------------------------------------------------------------------
 * Media Grid Styles
 *------------------------------------------------------------------------------
 */

.media-list-grid
  .field-name-field-medias > .field-items > .field-item
    width: 100%

  // &.media-list-grid-align-left
  //   .field-name-field-medias > .field-items > .field-item
  //     text-align: left

  // &.media-list-grid-align-center
  //   .field-name-field-medias > .field-items > .field-item
  //     text-align: center

  // &.media-list-grid-align-right
  //   .field-name-field-medias > .field-items > .field-item
  //     text-align: right

  
    // .node-teaser
    //   margin-bottom: 0

  @for $i from 1 through 12
    &.media-list-grid-xs-#{$i}
      .field-name-field-medias > .field-items > .field-item
        +make-xs-column($i)
  @for $i from 1 through 12
    &.media-list-grid-sm-#{$i}
      .field-name-field-medias > .field-items > .field-item
        +make-sm-column($i)
  @for $i from 1 through 12
    &.media-list-grid-md-#{$i}
      .field-name-field-medias > .field-items > .field-item
        +make-md-column($i)
  @for $i from 1 through 12
    &.media-list-grid-lg-#{$i}
      .field-name-field-medias > .field-items > .field-item
        +make-lg-column($i)

  .field-name-field-medias > .field-items
    +clearfix
    margin: 0 -15px
    font-size: 0px
    word-spacing: 0px
    letter-spacing: 0px

    > .field-item
      display: inline-block
      float: none !important
      padding: 0
      vertical-align: top
      padding: 0 15px
      font-size: $font-size-base
      font-size: 1rem
      word-spacing: initial
      letter-spacing: initial
      // @todo: blame on Chrome 39!
      margin-left: -1px
