/*
 *------------------------------------------------------------------------------
 * Read More Pane Style
 *------------------------------------------------------------------------------
 */

div[data-readmore]
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  margin-bottom: 15px

.read-more-wrapper
  height: 42px
  text-align: center
  color: white
  font-weight: bold
  overflow: hidden

  a
    @extend %more-button
    position: relative
    display: inline-block
    padding: 0
    min-width: 42px
    height: 42px
    border: none
    border-radius: 0
    line-height: 42px
    font-size: 0.8em
    margin-top: -42px

    &:after
      height: 42px
      // padding: 0 2em
      line-height: 46px

    &.read-less:after
      content: "\f068"
