/*
 *------------------------------------------------------------------------------
 * Secondary Content Style
 *------------------------------------------------------------------------------
 */

.secondary-content
  .pane-title
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    border-bottom: 0
    padding-top: 0.2em
    padding-bottom: 0
    font-family: $font-family-base
    margin-top: 0
    background: #EEE
    padding: 0.4em 0.8em
    line-height: 1.25em

  h4, .entity-view
    font-size: 0.8em

    h4
      font-size: 1em

  .node-stacked.has-icon-action .node-info
    padding-right: 67px

  .views-row
    margin-bottom: 5px

  .item-list .pagination.pager li a,
  .item-list .pagination.pager li span
    height: 40px
    line-height: 41px
    min-width: 40px

.secondary-content-pane-style
  .pane-content
    font-size: 0.85em
