/*
 *------------------------------------------------------------------------------
 * Tabs Region Style
 *------------------------------------------------------------------------------
 */

.tabs-region-style
  .tabs-region-tabs
    margin-left: 15px
    margin-right: 15px
    width: auto

    a.pane-title
      span.fa-external-link
        margin-left: 0.5em
        font-size: 0.9em
        cursor: pointer

        &:hover
          color: $brand-primary

// .tab-content .tab-pane

.nav-tabs,
.nav-pills
  margin-bottom: 20px
  > li
    > a
      transition: all 250ms
      margin: 0
      border-radius: 0 !important
      color: #444
      outline: none

.nav-tabs
  &, &.tabs-region-tabs
    > li
      margin-bottom: 0
      & > a
        +box-shadow(none !important)
        height: auto
        padding: 0.4em 1.5em
        margin: 0 0 -1px 0
        font-family: $headings-font-family
        font-size: $font-size-h4
        font-weight: 600
        text-transform: none
        letter-spacing: normal
        line-height: 1.1em
        border: 1px solid transparent

        &:hover, &:focus
          color: $brand-primary
          background-color: transparent

      &.active > a,
      &.active > a:hover,
      &.active > a:focus
        color: $brand-primary
        border: 1px solid $gray-lighting
        border-bottom-color: white

  &, &.nav-justified
    border-bottom: 1px solid $gray-lighting
    > li > a
      margin-bottom: -2px

.nav-pills > li
  + li
    margin-left: 0

  &.active > a,
  & > a
    background-color: transparent
    &:hover, &:focus
      background-color: $gray-lighter

  &.active > a,
  &.active > a:hover,
  &.active > a:focus
    background-color: $brand-primary
