/*
 *------------------------------------------------------------------------------
 * User Grid Styles
 *------------------------------------------------------------------------------
 */

.user-grid
  .user-profile
    width: 100%
  
    // .node-teaser
    //   margin-bottom: 0

  @for $i from 1 through 12
    &.user-grid-xs-#{$i}
      .user-profile
        +make-xs-column($i)
  @for $i from 1 through 12
    &.user-grid-sm-#{$i}
      .user-profile
        +make-sm-column($i)
  @for $i from 1 through 12
    &.user-grid-md-#{$i}
      .user-profile
        +make-md-column($i)
  @for $i from 1 through 12
    &.user-grid-lg-#{$i}
      .user-profile
        +make-lg-column($i)

  .field-name-field-users > .field-items
    +clearfix
    margin: 0 -15px
    font-size: 0px
    word-spacing: 0px
    letter-spacing: 0px
    text-align: center

    > .user-profile
      display: inline-block
      float: none
      padding: 0
      vertical-align: top
      padding: 0 15px
      font-size: $font-size-base
      font-size: 1rem
      word-spacing: initial
      letter-spacing: initial
      // @todo: blame on Chrome 39!
      margin-left: -1px

  &.user-grid-reduce
    h4
      font-size: 18px

    .user-info
      font-size: 15px
