/*
 *------------------------------------------------------------------------------
 * Grid Views Styles
 *------------------------------------------------------------------------------
 */

$grid-view-margin-sizes: (none: 0px, small: 15px, medium: 30px, big: 45px)

.grid-view  
  .views-row
    width: 100%
    text-align: left
  
    .node-teaser
      margin-bottom: 0

  @for $i from 1 through 12
    &.grid-view-xs-#{$i}
      .views-row
        +make-xs-column($i)
  @for $i from 1 through 12
    &.grid-view-sm-#{$i}
      .views-row
        +make-sm-column($i)
  @for $i from 1 through 12
    &.grid-view-md-#{$i}
      .views-row
        +make-md-column($i)
  @for $i from 1 through 12
    &.grid-view-lg-#{$i}
      .views-row
        +make-lg-column($i)

  .view-content
    margin: 0 -15px
    font-size: 0px
    word-spacing: 0px
    letter-spacing: 0px

    .view-content-inner > .views-row
      display: inline-block
      float: none
      padding: 0
      vertical-align: top
      padding: 0 15px
      font-size: $font-size-base
      font-size: 1rem
      word-spacing: initial
      letter-spacing: initial

  @each $side in (top, right, bottom, left)
    @each $size, $pixels in $grid-view-margin-sizes
      .#{$size}-row-margin-#{$side} .view-content-inner > .views-row
        margin-#{$side}: $pixels
