/*
 *------------------------------------------------------------------------------
 * Article Node Type
 *------------------------------------------------------------------------------
 */

.node-article,
.node-photo-essay,
.node-interview,
.node-review
  &.node-stacked
    .field-name-field-document
      float: right
      position: absolute
      right: 15px
      top: 15px

      a[download]
        color: inherit
        &:hover, &:focus
          color: $brand-primary !important
