/*
 *------------------------------------------------------------------------------
 * Panopoly Page Node Type
 *------------------------------------------------------------------------------
 */

.node-panopoly-page
  &.node-poster
    .node-info
      bottom: auto
      top: 0
      text-align: center

  &.node-stand
    .node-info
      text-align: center
      .node-title
        font-weight: bold

  &.node-poster .featured-image-cover .featured-image-cover-inner:before
    padding-top: 100%
