/*
 *------------------------------------------------------------------------------
 * Video Node Type
 *------------------------------------------------------------------------------
 */

%play-icon:after
  +transition(all 350ms)
  content: ""
  position: absolute
  top: 5%
  left: 5%
  right: 5%
  bottom: 5%
  background-image: image-url("play.png")
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  max-width: 184px
  margin: 0 auto
  opacity: 0.6

%play-icon-hover:after
  opacity: 1

.node-video
  .featured-image-cover-inner
    @extend %play-icon

  .file-content-theme-image-style .content a
    @extend %play-icon

  &.node-poster
    text-align: center

    .node-info
      bottom: auto
      top: 0

    .field-name-field-tags
      font-size: 0.65em

    .file-content-theme-image-style .content a:after
      margin-bottom: -10%
      opacity: 0.2

  &:hover
    .file-content-theme-image-style .content a
      @extend %play-icon-hover

    &.node-poster .file-content-theme-image-style .content a:after
      opacity: 0.6

  &.node-banner
    .node-title
      margin: 0
      font-size: 18px

    .node-info-inner
      text-align: left

    .featured-node-content .featured-node-content-inner:before
      display: block
      padding-top: 35%

    .file-content-theme-image-style .content a:after
      top: 0
      right: auto
      bottom: 15%
      left: 50%
      width: 10%
      margin-left: -5%
      opacity: 0.3

    .node-info
      padding: 10px

    &:hover .file-content-theme-image-style .content a:after
      opacity: 0.7

  &.node-poster,
  &.node-mini-teaser
    .file-content-theme-image-style .content a:after
      top: 30%
      left: 30%
      right: 30%
      bottom: 30%
